.App {
}

.App-header {
  width: 100%;
}

.App-body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%
}

.App-searchBlock{
}

.App-searchInner{ 
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.App-searchBox{
  margin: 0.6rem;
  width: 20rem;
}